@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%; /* #09090b - Zinc 950 */
    --foreground: 0 0% 98%; /* #fafafa */

    --card: 240 6% 10%; /* #18181b - Zinc 900 */
    --card-foreground: 0 0% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 262 83% 58%; /* #8b5cf6 - Violet 500 */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4% 16%; /* #27272a - Zinc 800 */
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 262 83% 58%;
    --accent-foreground: 0 0% 100%;

    --success: 167 68% 45%; /* #34d399ff - Brand Green */
    --success-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 262 83% 58%;

    --radius: 0.5rem;

    /* Custom Variables */
    --sidebar: 0 0% 0%; /* #000000 - Black */
    --sidebar-foreground: 240 5% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-success {
    color: hsl(var(--success));
  }

  .bg-success {
    background-color: hsl(var(--success));
  }

  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}
